html {
  font-size: 14px;
  font-weight: 500;
  font-family: "Kumbh Sans";
}

body {
  background-image: linear-gradient(#a968ea, #6c62e5);
  background-repeat: no-repeat;
  background-size: cover;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* For mobile phones: */
[class*="col-"] {
  width: 90%;
}

.layout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #fff;
  height: 68%;
  border-radius: 20px;
}

.box{
  display: none;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.img {
  position: relative;
  top: -20%;
  margin-bottom: -25%;
  width: 70%;
  display: block;
  align-self: center;
  padding-bottom: 5%;
  background-image: url("images/bg-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
}

.cardTitle {
  text-align: center;
  font-weight: 700;
  font-size: 37px;
}

.qs {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0 7%;
}

div p {
  margin: 0;
  padding: 2% 0;
}

.qs > div {
  border-bottom: lightgray 1px solid;
  padding: 4%;
  padding-left: 0;
  padding-right: 0;
}

.arrow {
  padding-top: 0.4rem;
  float: right;
}

.question:active {
  color: orange;
}

.answer {
  display: none;
}

@media only screen and (min-width: 376px) {
  /* For desktop: */
  .layout {
    height: 70%;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .img {
    width: 40%;
    height: 100%;
    top: 0;
    margin: 0;
    position: relative;
    right: 0;
    background-image: url("images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 60%;
    overflow: hidden;
  }
  .lady {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
  }
  .box{
    display: block;
    z-index: 1;
    height: 190px;
    position: absolute;
    top: 60%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: -95px;
  }
  .qs{
    position: absolute;
    right: 0;
    width: 60%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

  }
  .cardTitle{
    text-align: left;
  }
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
